@import url(http://fonts.googleapis.com/css?family=Slabo+27px|Gentium+Book+Basic&subset=latin,latin-ext);

#header h2 {
	font-family: 'Gentium Book Basic', serif;
	font-size: 60px;
	margin: 0;
	display: inline;
}

#header p {
	display: inline;
}

#footer {
	padding-top: 1em;
}

form, .form {
	margin: 20px 0 15px 0;
	display: block;
	text-align: center;
}

input[type=text] {
	width: 300px;
	font-size: 21px;
	font-family: arial;
	padding: 3px;
}

input[type=submit], input[type=button] {
	width: 100px;
	font-size: 22px;
	font-family: arial;
}


* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	padding: 1em;
}

body {
	background: #e1e1e1; /* Old browsers */
	background: -moz-linear-gradient(top,  #e1e1e1 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1e1e1), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e1e1e1 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e1e1e1 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e1e1e1 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e1e1e1 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	background-size: 40px 40px;
	background-repeat: repeat-x;

	overflow: hidden;

}

#editor-wrap {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

#editor {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.editorWindow {
	width: 100%;
	flex-grow: 1;
	margin: 10px auto;
}

.errorHighlight {
	background: #b6bcff;
	position: absolute;
}

.sicp-editor-toolbar {
	display: flex;
}

.sicp-editor-button {
	margin: 5px;
	padding: 5px;
}

.sicp-editor-select-sample {
	margin-left: auto;
	padding: 5px;
}

#editor-bottom {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 200px;
}

.editorWindow {
	border-top: 1px solid lightgray;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	margin: 10px 0 0 0;
}

.sicp-box {
	font-family: 'Lucida Grande', sans-serif;
	font-size: 12px;
	border-top: 1px solid lightgray;
	border-left: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	margin: 0;
	padding: 0;
	position: relative;
	background: #f3f3f3;

	margin: 0;

	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sicp-box {
	cursor: default;
}

.sicp-box-tab, .sicp-box-tab-title {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.sicp-box:last-child {
	border-right: 1px solid lightgray;
}

.sicp-box-tab-title {
	height: 30px;
	border: 1px solid lightgray;
	border-bottom: none;
	padding: 6px;
	margin: 4px 0 0 4px;
	cursor: default;
}

.sicp-box-tab-content {
	overflow-y: scroll;
	position: absolute;
	border-top: 1px solid lightgray; 
	top: 30px;
	left:0;
	right: 0;
	bottom: 0;
	background: white;
	display: none;
}
.sicp-box-current-tab .sicp-box-tab-title {
	background: white;
}
.sicp-box-current-tab .sicp-box-tab-content {
	display: block;
}

.sicp-tree-node-title {
	margin: 0;
	padding: 0;
	background: #ebebeb;
	border-bottom: 1px solid #dadada;
	padding: 4px;
	
}


.sicp-tree-node-title:before {
	content:'▼ ';
	font-size: 10px;
	color: #777777;
	
}

.sicp-tree-node-collapsed .sicp-tree-node-title:before {
	content:'► ';
	font-size: 10px;
	color: #777777;

}
.sicp-tree-node-collapsed .sicp-tree-node-content {
	display: none;	
}

.sicp-scope-empty {
	text-align: center;
	color: #777777;
}
#bottom-left-box {
	width: 70%;
}

#bottom-right-box{
	width: 30%;
}

#variables table {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}

#variables td:last-child, th:last-child {
	border-left: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	width: 80%;
	
}

#variables td:first-child, th:first-child {
	border-bottom: 1px solid lightgray;
	width: 20%;
}

#variables td {
	vertical-align: top;
	padding: 4px;
}
.sicp-stack-frame {
	margin: 0;
	padding: 0;
}
.sicp-stack-frame p{
	display: block;
	margin: 0;
	padding: 4px;
}

.sicp-stack-frame p.sicp-stack-frame-current {
	font-weight: bold;
}

.sicp-stack-frame:nth-child(even) {
	background: white;
}

.sicp-stack-frame:nth-child(odd) {
	background: #ebebeb;
}

.sicp-stack-frame:hover {
	background: lightgray;
}